<%= render "partials/navigation" %> <!-- Page Content -->
<div id="page-wrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<h1>Alta de Reserva</h1>
				<hr />
				<%= render 'form' %>
			</div>
		</div>
	</div>
</div>
<script>
	$( document ).ready(function() {
		$("#reserva_cliente_id" ).select2({
			theme: "bootstrap",
			language: "es"
		});
	});
</script>