<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @tipo_cliente.descripcion %>
</p>

<%= link_to 'Edit', edit_tipo_cliente_path(@tipo_cliente) %> |
<%= link_to 'Back', tipo_clientes_path %>
