<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @tipo_cancha.descripcion %>
</p>

<%= link_to 'Edit', edit_tipo_cancha_path(@tipo_cancha) %> |
<%= link_to 'Back', tipo_canchas_path %>
